*{
    box-sizing: content-box;
}

#container {

    width: 500px;
    
    display: flex;
    
    background-color: yellow;
    margin: 10px;
    border: 1px solid black;
}

#container * {
    margin: 20px;
}